.header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.navigation-flex {
    display: flex;
    margin: 0 auto;
    margin-top: 65px;
}
.logo {
    display: flex;
    font-size: 36px;
    font-weight: bold;
}
.navigacia {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-left: 132px;
    width: 1726px;
    color: #3D37F1;
    font-family: lato;
}
.nav-ul {
    display: flex;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato;
}
.nav-li {
    margin-right: 40px;
}
.nav-li :last-child {
    margin-right: 0;
}

/* პირველი სექცია */
.section1 {
    width: 620px;
}
.left-box {    
    /* background-image: url(../images/background.png); */
    /* background-repeat: no-repeat; */
    /* margin-top: 373px;
    margin-right: 80px;
    margin-left: 132px;
    background-position-x: right;
    background-position-y: top;
    padding-bottom: 526.63px; */
    /* display: flex; */
    width: 1708px;
    margin: 0 auto;
    margin-top: 277px;
    justify-content: center;
    align-items: center;
}
.right-box {
    background-image: url(../images/background.png);
    /* s */
    height: 527px;
    margin-bottom: 287px;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
}
.right-box-wrapping {
    width: 801px;
}
.header1 {
    font-size: 78px;
    font-weight: bold;
    width: 636px;
    height: auto;
    vertical-align: top;
    margin-left: 0px;
    color: #534D4D;
    font-family: lato;
}    
.paragrap {
    font-size: 22px;
    color: #534D4D;
    margin-top: 39px;
    font-family: roboto;
}
.button {
    display: flex;
    width: 263px;
    height: 76px;
    border-radius: 130px;
    background-color: #3D37F1;
    margin-top: 84px;
    color: white;
    font-size: 23px;
    align-items: center;
    justify-content: center;
    font-family: poppins;
}
.button-img {
    margin-right: 20px;
}

/* მეორე სექცია */
.wrapper {
    width: 1169px;
    margin: 0 auto;
}
.section2 {
    display: flex;
    width: auto;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #FBFCFD;             
}
.upper {
    font-size: 22px;
    color: #3D37F1;
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 20px;
    font-family: 'lato';

}
.middle {
    font-size: 40px;
    color: #5A5454;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'lato';
}
.lower {
    font-size: 18px;
    color: #747474;
    text-align: center;
    margin-bottom: 67px;
    font-family: 'roboto';
}
.flex-row1 {
    display: flex;
    justify-content: space-between;
}
.child-block {
    width: 370px;
    height: 451px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.child-block2 {
    width: 370px;
    height: 451px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.child-block h3 {
    color: white;
    font-size: 22px;
    font-family: lato;
    margin-top: 55px;
    margin-bottom: 12px;
}
.child-block2 h3 {
    color: white;
    font-size: 22px;
    font-family: lato;
    margin-top: 55px;
    margin-bottom: 12px;
}
.child-block p {
    color: white;
    font-size: 16px;
    font-family: roboto;
    margin-top: 12px;
    margin-bottom: 13px;
    justify-self: center;
    text-align: center;
    width: 328px;
    height: 62px;
    line-height: 30px;
}
.child-block2 p {
    color: white;
    font-size: 16px;
    font-family: roboto;
    margin-top: 12px;
    margin-bottom: 13px;
    justify-self: center;
    text-align: center;
    width: 328px;
    height: 62px;
    line-height: 30px;
}
.child-block div {
    width: 131px;
    height: 45px;
    border-radius: 80px;
    border-color: #ECE3E3;
    border-style: solid;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-block2 div {
    width: 131px;
    height: 45px;
    border-radius: 80px;
    border-color: #ECE3E3;
    border-style: solid;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child-block span {
    font-family: 'Roboto';
    font-size: 16px;
    color: black
}
.child-block2 span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
}
.child-block span white {
    background-color: white;
}
.child-block span black {
    color: black;
}
.child-block:nth-child(1) {
    background-color: #3D37F1;   
}
.child-block:nth-child(2) {
    background-color: rgb(35, 167, 35)   
}
.child-block:nth-child(3) {
    background-color: #41EAE3;   
}
.child-block2:nth-child(1) {
    background-color: rgb(142, 9, 9);   
}
.child-block2:nth-child(2) {
    background-color: pink;   
}
.child-block2:nth-child(3) {
    background-color: goldenrod;   
}
.flex-row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}